<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" href="/static/img/favicon.png" />
<meta name="author" content="Unknown" />
<meta name="description" content="Golang 中国博客" />
<meta name="keywords" content="Go, golang, beego, 博客, 中国">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="/static/css/bootstrap.min.css" rel="stylesheet" />
<link href="/static/css/font-awesome.min.css" rel="stylesheet" />
<link href="/static/css/gcblog.css" rel="stylesheet" />
<link href="/static/css/markdown.css" rel="stylesheet" />
<script src="/static/js/jquery-1.10.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>