<nav class="navbar navbar-gcblog navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-8">
				<span class="sr-only">导航栏</span>
				<span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Golang 中国博客</a>
		</div>
		<ul class="nav navbar-nav">
			<li class="active"><a href="/">首页</a></li>
		</ul>
	</nav>
</div>
